extends ../layout

block content
    span(class='small-12 columns')
        h1(class='text-center') #{title}

        if error
            div(class='text-center alert-box alert') #{error}

        form(class='small-12 medium-8 large-6 medium-offset-2 large-offset-3 columns',action='/login?redirect='+redirect,method='post',enctype='application/x-www-form-urlencoded')

            div(class='small-12 columns')
                div(class='small-4 columns')
                    label(for='username') Username
                div(class='small-8 columns')
                    input(type='text',name='username')

            div(class='small-12 columns')
                div(class='small-4 columns')
                    label(for='password') Password
                div(class='small-8 columns')
                    input(type='text',name='password')

            div(class='small-12 columns')
                div(class='small-12 columns right text-right')
                    button(type='submit', class='button tiny success right postfix').
                        Login